[Desktop Entry]
Comment=GNOME Keyring: PKCS#11 Component
Exec=/usr/bin/gnome-keyring-daemon --start --components=pkcs11
Name=Certificate and Key Storage
Type=Application
