[Desktop Entry]
Comment=GNOME Keyring: Secret Service
Exec=/usr/bin/gnome-keyring-daemon --start --components=secrets
Name=Secret Storage Service
Type=Application